.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }
header {
  display: flex;
  height: 20px;
  justify-content: space-between;
  
}


#page1, #page2, #page3{
  display: flex;
  flex-direction: column;
  margin:10px 100px 10px 100px;
  align-content:center;
}
#page1 *, #page2 *, #page3 *{
  align-self: center;
}

#messages{
  margin: 20px 40px 30px 40px;
}

#countdown {
  margin:5px;
  
}
  
  .welcome {
    margin-bottom: 20px;
  }
  
  #main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }
  
  #read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
  }